<table class="table table-hover">
        <tr>
            <td width="32px">
                <a href="{{ url_for('user', username=todo.author.username) }}">
                    <img src="{{ todo.author.avatar(15) }}" />
                </a>
            </td>
            <td>
                {% if not todo.is_finished %}
                    <input type="checkbox" id="checkbox" data-todo-id="{{ todo.id }}"> {{ todo.description }}
                    <a class="right delete-item" href="{{ url_for('del_todo', todo_id=todo.id) }}" title="delete it?"><i class="material-icons left">delete</i></a>
                        <a class="edit-btn right" id="{{loop_index}}" href="#!"><i class="material-icons left">mode_edit</i></a>
                    <form class="card-panel edit-form" id="form{{loop_index}}" action="{{ url_for('edit_todo', todo_id=todo.id) }}" method="POST">
                        <input placeholder="What to do next?" name="body" type="text" class="validate" value="{{ todo.description }}">
                        <a class="waves-effect waves-light btn confirm-btn" href="#!" onclick="document.getElementById('form{{loop_index}}').submit()">确定</a>
                        <a class="waves-effect waves-light btn cancel-btn" href="#!">取消</a>
                    </form>
                {% endif %}
                {% if todo.is_finished %}
                  <input type="checkbox" id="checkbox" data-todo-id="{{ todo.id }}" checked="checked"> {{ todo.description }}
                {% endif %}
            </td>
        </tr>
    </table>